#pickedWord {
  font-size: 72px;
  letter-spacing: 12px;
}

#startGame {
  margin-right: 40px;
}

#wrong0 {
  display: none;
}

#wrong1 {
  display: none;
}

#wrong2 {
  display: none;
}

#wrong3 {
  display: none;
}

#wrong4 {
  display: none;
}

#wrong5 {
  display: none;
}

#wrong6 {
  display: none;
}
